@model DojoCourse.Module.ViewModels.PersonPartViewModel

<div><strong>@Model.Name</strong></div>
<div>@T["Birth Date: {0}", Model.BirthDateUtc?.ToShortDateString()]</div>
<div>@T["Handedness: {0}", Model.Handedness]</div>
